* {
  box-sizing: border-box;
}

body {
  min-width: 900px;
}

button {
  cursor: pointer;
}

.urlContainer {
  margin-top: 48px;
}

.changeUrlContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.commonInput {
  height: 32px;
  padding: 0 16px;
  margin-right: 32px;
  color: rgb(27, 28, 29);
  border: 1px solid rgb(221, 224, 226);
  border-radius: 4px;
}

.commonBtn {
  padding: 6px 8px;
  background-color: #ff922b;
  border: none;
  border-radius: 4px;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  display: flex;
}

.inputBtnContainer {
  display: flex;
  justify-content: space-between;
}

form {
  width: 375px;
  padding: 16px;
  border-radius: 4px;
  margin: 0 32px;
}

h2 {
  text-align: center;
  margin-bottom: 48px;
}

.title {
  color: #1b1c1d;
  font-size: 14px;
}

.formInput {
  width: 100%;
  padding: 0 16px;
  margin-bottom: 16px;
  height: 48px;
  color: rgb(27, 28, 29);
  border: 1px solid rgb(221, 224, 226);
  border-radius: 4px;

  font-size: 14px;
}

.formButton {
  width: 100%;
  padding: 16px;
  margin-top: 32px;
  background-color: #ff922b;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
